.header {
  background: rgb(9,9,121);
  background: linear-gradient(90deg, rgba(9,9,121,1) 17%, rgba(0,212,255,1) 98%);
  height: 100vh;
  width: 100%;
}


.header nav * {
  margin-top: -100 !important;
}

.navlogo {
  width: 80px;
}
